/*****
GENERAL
*****/

body{
  font-family: 'Open Sans Condensed', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  background: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 2em 0 1em 0;
  text-align:center;
}

h4, h5 {
  margin: 2em 0 1em 0;
  text-align:center;
}

/*****
HEADING
*****/

header {
  float:none;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}


#logo {
  text-align: left;
  margin: 5px 5px;
}

h1 {
  font-family:'Changa One', cursive;
  margin: 20px 20px;
  font-size: 4.2em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 20px 20px;
}

 /* ^^ margin:-1000px, 0 0 20px*/


/*****
NAVIGATION
*****/

nav {
  text-align: right;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 5px;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 10px;
}

/*****
FOOTER
*****/

footer{
  font-size: 0.8em;
  text-align: center;
  clear: both;
  padding-top: 60px; 
  color: #6a7e82,
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}


/*****
HOME LOGO PIC
*****/

#group_pic {
  margin: 30%;
  padding: -15;
  list-style: none;
  align-items:center;
}


/*****
COLOURS
*****/

/*site body*/
body {
  background-color: #fff;
  color: #7f7e82;
}

/*purple header*/
header {
  background: #422a56;
  border-color: #423a56;
}

/*nav background*/
nav {
  background: #423a56;
}

/* logo text*/
h1, h2 {
  color: white;
}

/*links*/
a {
  color: #9379d1;
}

/*nav link*/
nav a, nav a:visited {
  color: white;
}

/*selected nav link*/
nav a.selected, nav a:hover {
  color: #cdbaff;
}


