/*****
GENERAL
*****/

body{
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}


/*****
HEADING
*****/

header {
  float:none;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}


#group-name {
  text-align: left;
  margin: 5px 5px;
}

h1 {
  font-family:'Changa One', cursive;
  margin: 20px 20px;
  font-size: 4.2em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-family:Open Sans Condensed, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  margin: 20px 20px;
}

/*****
NAVIGATION
*****/

nav {
  text-align: right;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 5px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 10px;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

#tooltip {
    position:relative;
    display: inline-block;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #423a56;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
}





/*****
HOME FAMILIES PAGE
*****/

#family {
  padding-top: 0;
  text-align: center;
  font-size: 2.1em;
  padding-bottom: 10px; 
  border: 5px solid grey;
  margin: 150px 150px;
  margin-bottom: -10px;

}

/*****
DATABASE PAGE
*****/

#line > p  {
  margin-top:-40px;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 20px;
  text-align:justify;
}


#line h3 {
  text-align: left;
  font-size: 2em ;
  margin-left: 10px;
  padding-bottom: 0.5em;
}

#herv > p  {
  margin-top:-40px;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
  text-align:justify;
}

#herv h3 {
  text-align: left;
  font-size: 2em ;
  margin-left: 10px;
  padding-bottom: 0.5em;
}


/*****
VISUALS
*****/

#graphs {
  margin-left: 0;
  padding: 0;
  list-style: none;
 
}

#graphs li {
  list-style: none;
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: light-grey;
  color: black;

}


/*****
TABLE
*****/

table {
  margin-top: 30px;
  margin-left: 150px;
  padding: 0 50px 0 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


#l1table {
    margin-left: 20px;
    margin-right: 20px;
}


/*****
INDIVIDUAL PAGE
*****/

#primary-ind {
  float: left;
  padding: 0 1em;
  width: 40%;
}
  
#secondary-ind {
  width: 40%;
  float: right;
}



/*****
SEARCH PAGE
*****/

.search-form {
  padding-left: 30px;
}

.pep-seq {
  padding-left: 30px;
}


.tickbox {
  padding-left: 30px;
}


/*****
TOOLS PAGE
*****/

input[type=file] {
  padding-left: 30px;
}

.upload-form {
  padding-left: 30px;
}


/*****
ABOUT PAGE
*****/


.group-pic {
  display:block;
  max-width: 600px;
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  padding: 15px;
}

#info > h3 {
  margin: 0  0 0.2em 0;
  color: grey;
}


.links {
  list-style: none;
}

.links li {
  list-style: none;
}

.links a {
  list-style: none;
  font-size: 1em;
  
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  font-size: 1em;
}

.contact-info a li {
  float:center;
  font-size: 1em;
}

.contact-info li.phone a{
  font-size: 1.2em;
  background-image:url('../static/phone.png');
}

.contact-info li.mail a{
  font-size: 1.2em;
  background-image:url('../static/mail.png');
}

.contact-info li.github a{
  font-size: 1.2em;
  background-image:url('../static/octocat.png');
}


/*****
TWO COLUMN LAYOUT
*****/
  
 #primary {
  float: left;
  padding: 0 1em;
  width: 50%;
}
  
#secondary {
  width: 40%;
  float: right;
}


/*****
FOOTER
*****/

footer{
  font-size: 0.8em;
  text-align: center;
  clear: both;
  padding-top: 60px; 
  color: #6a7e82,
  position:absolute;
  bottom: 0;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}


/*****
COLOURS
*****/

/*site body*/
body {
  background-color: #fff;
  color: #7f7e82;
}

/*purple header*/
header {
  background: #422a56;
  border-color: #423a56;
}

/*nav background*/
nav {
  background: #423a56;
}

/* group-name text*/
h1, h2 {
  color: white;
}

/*links*/
a {
  color: #9379d1;
}

/*nav link*/
nav a, nav a:visited {
  color: white;
}

/*selected nav link*/
nav a.selected, nav a:hover {
  color: #cdbaff;
}




