<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Farfalloni|Retrotransposons</title>
    <link rel="stylesheet" href="static/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Open+Sans+Condensed:300i|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>

    <script>
      $(document).ready(function(){
      $('#l1table').DataTable();
      });
    </script>

    <script>
      $(document).ready(function(){
      $('#hervtable').DataTable();
      });
    </script>

<style>
#tooltip {
    position:relative;
    display: inline-block;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #423a56;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
}
	
#imageToSwap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    }


#imageToSwap2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    }
      
 
#menu {
margin-left:auto;
margin-right:auto;
display: block;
}
</style>

  <body>
    <header>
      <a href="index.html" id="group-name">
        <h1>RETROtransposons</h1>
        <h2>for everything retrotransposon-y</h2>
      </a> 
      <nav>
        <ul>
        <li id='tooltip'><a href="index.html">Home</a><span class='tooltiptext'>Retrotransposons homepage with links to LINE1 and HERV databases </span></li></li>
          <li id='tooltip'><a href="database.html" class="selected">Database</a><span class='tooltiptext'>Contains database table of retrotransposon properties, explanations and graphics</span></li>
          <li id='tooltip'><a href="search.html">Search</a><span class='tooltiptext'>Search specifically for your desired retrotransposon by chromosome, strand, amino acid sequence, etc </span></li>
          <li id='tooltip'><a href="tools.html">Tools</a><span class='tooltiptext'>Upload mzID/TAB files of peptide identification to find any matches in this database</span></li>
          <li id='tooltip'><a href="help.html">About</a><span class='tooltiptext'>Website information and contact details</span></li>
        </ul>
      </nav>
    </header>

    
    <div id="line">
      <h3>LINE 1</h3>
      <p style="margin-right:10px; text-align:justify;">LINE-1 (long interspersed nuclear elements) are transposable elements in DNA that compose ~17% of the human genome. L1 have transferred to the genome of the gonorrhea bacteria. A L1 element is 6000 base pairs long and consists of 2 non overlapping open reading frames (ORF1 and ORF2), which are flanked by UTR and target site duplications. Carry on reading to find out more transposon information! </p>


     <section id="graphs" style="position:relative;">
      <ul>
    <li><a href="https://plot.ly/~vithusaa.selva1/14/?share_key=YoSlq5Tbk6MfrH11mulhvM" target="_blank" title="bar-direct-labels" style="display: block; text-align: center;"><img src="https://plot.ly/~vithusaa.selva1/14.png?share_key=YoSlq5Tbk6MfrH11mulhvM" alt="bar-direct-labels" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a><script data-plotly="vithusaa.selva1:14" sharekey-plotly="YoSlq5Tbk6MfrH11mulhvM" src="https://plot.ly/embed.js" async></script></li>
    <li><a href="https://plot.ly/~vithusaa.selva1/18/?share_key=7iD6GGBDLQQTVt7Rzyg3GJ" target="_blank" title="donutL1" style="display: block; text-align: center;"><img src="https://plot.ly/~vithusaa.selva1/18.png?share_key=7iD6GGBDLQQTVt7Rzyg3GJ" alt="donutL1" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a><script data-plotly="vithusaa.selva1:18" sharekey-plotly="7iD6GGBDLQQTVt7Rzyg3GJ" src="https://plot.ly/embed.js" async></script></li>
      </ul>
    </section> 

    <br/><br/>

<p style='margin-right:10px;'> Select from this list to see chromosome localisations and phylogenetic trees of the retrotransposon amino acid sequences: </p>
<select id='menu' onchange="$('#imageToSwap').attr('src', this.options[this.selectedIndex].value);">
      <option value=""> Select a graph</option>
      <option value="static/lineplot.jpeg"> Chromosome localisation</option>
      <option value="static/orf1tree.png"> ORF 1 phylogenetic tree</option>
      <option value="static/indi.png"> ORF 2 phylogenetic tree</option>
    </select>
<br><br>
<img id="imageToSwap" class="profile" src="">

   <section>
   <p style= "margin-left:10px; margin-right:10px; text-align:justify;">The table below displays all transposable elements that are part of the LINE-1 family, grouped by Repetition Name. If you click in one of the Repetion Names, you will be redirected to a table with all the repeats that share that name:</p>   
   </section>   

  <section style="margin-left:60px; margin-right:60px;">
  <table id="l1table" class="stripe hover">
  <thead>
  <tr>
    <th>Repetition Name</th>
    <th>Number of Retroelements</th>
  </tr>
  </thead>

 {% for l1 in l1s %}
  <tr>
    <td><a href="groups.html-{{l1["repName"]}}">{{l1["repName"]}}</a></td>
    <td>{{l1["count(*)"]}}</td>    
  </tr>
 {% endfor %} 
</table>
</section>  
  </div>
      
      <div id="herv">
      <h3>HERV</h3>
      <p>Endogenous retroviruses (ERVs) are the most important LTR (long terminal repeats) retrotransposon in mammals, making up 8% of the human genome. These LTRs mobilise through reverse transcription of their mRNA and integrate the newly created cDNA into another location. Carry on reading to find out more transposon information! </p>
      
      <section id="graphs" style="position:relative">
      <ul>
        <li><a href="https://plot.ly/~vithusaa.selva1/20/?share_key=X0O4GL33SPS02sesoynME5" target="_blank" title="bar-direct-labels2" style="display: block; text-align: center;"><img src="https://plot.ly/~vithusaa.selva1/20.png?share_key=X0O4GL33SPS02sesoynME5" alt="bar-direct-labels2" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a> <script data-plotly="vithusaa.selva1:20" sharekey-plotly="X0O4GL33SPS02sesoynME5" src="https://plot.ly/embed.js" async></script></li>
        <li><a href="https://plot.ly/~vithusaa.selva1/10/?share_key=NxhuM38ijkIrwPCyzctK3Z" target="_blank" title="donutERV" style="display: block; text-align: center;"><img src="https://plot.ly/~vithusaa.selva1/10.png?share_key=NxhuM38ijkIrwPCyzctK3Z" alt="donutERV" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /> </a> <script data-plotly="vithusaa.selva1:10" sharekey-plotly="NxhuM38ijkIrwPCyzctK3Z" src="https://plot.ly/embed.js" async></script> </li>
      </ul>
    </section> 
   

 <br/><br/>

<p style='margin-right:10px;'> Select from this list to see chromosome localisations and phylogenetic trees of the retrotransposon amino acid sequences.</p>
<select id='menu' onchange="$('#imageToSwap2').attr('src', this.options[this.selectedIndex].value);">
      <option value=""> Select a graph</option>
      <option value="static/lineplot.jpeg"> Chromosome localisation</option>
      <option value="static/gagtree.png"> Gag phylogenetic tree</option>
      <option value="static/poltree.png"> Pol phylogenetic tree</option>
      <option value="static/envtree.png"> Env phylogenetic tree</option>
    </select>
<br><br>
<img id="imageToSwap2" class="profile" src="">

   <section>
   <p style= "margin-left:10px; margin-right:10px; text-align:justify;">The table below displays all transposable elements that are part of the HERV family, grouped by Repetition Name. If you click in one of the Repetion Names, you will be redirected to a table with all the repeats that share that name: </p>  
   </section>
  
  <section style="margin-left:60px; margin-right:60px;">
  <table id="hervtable" class="stripe hover">
  <thead>
  <tr>
    <th>Repetition Name</th>
    <th>Number of Retroelements</th>
  </tr>
  </thead>

 {% for ltr in ltrs %}
  <tr>
    <td><a href="groups.html-{{ltr["repName"]}}">{{ltr["repName"]}}</a></td>
    <td>{{ltr["count(*)"]}}</td>
    
  </tr>
 {% endfor %} 
</table>
    </div>
</section>

      <footer>
        <a href="https://github.com/eagomezc/Farfalloni"><img src="static/github_icon.png" alt="Github logo" class="social-icon"></a>
        <p>Farfalloni 2018 &copy;</p>
      </footer>
   
  </body>
</html>
