<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Farfalloni|Retrotransposons</title>
    <link rel="stylesheet" href="static/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Open+Sans+Condensed:300i|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
 
<style>
#tooltip {
    position:relative;
    display: inline-block;
}
#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #423a56;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
#tooltip:hover .tooltiptext {
    visibility: visible;
}
  
      div {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 20px;
  }
  
  #info {
  padding: 20px;
}

 #secondary {
 padding: 20px;
}
  
</style>

  <body>
    <header>
      <a href="index.html" id="group-name">
        <h1>RETROtransposons</h1>
        <h2>for everything retrotransposon-y</h2>
      </a> 
      <nav>
        <ul>
        <li id='tooltip'><a href="index.html" class="selected">Home</a><span class='tooltiptext'>Retrotransposons homepage with links to LINE1 and HERV databases </span></li></li>
          <li id='tooltip'><a href="database.html">Database</a><span class='tooltiptext'>Contains database table of retrotransposon properties, explanations and graphics</span></li>
          <li id='tooltip'><a href="search.html">Search</a><span class='tooltiptext'>Search specifically for your desired retrotransposon by chromosome, strand, amino acid sequence, etc </span></li>
          <li id='tooltip'><a href="tools.html">Tools</a><span class='tooltiptext'>Upload mzID/TAB files of peptide identification to find any matches in this database</span></li>
          <li id='tooltip'><a href="help.html">About</a><span class='tooltiptext'>Website information and contact details</span></li>
        </ul>
      </nav>
    </header>
  
    <div id="primary">
    <section id="info">
    <h3 style="font-size: 1.5em;">About us</h3>
    <p>We are a group of MSc Bioinformatics students at Queen Mary University of London (Mile End) who have developed this website as a means of exploring retrotransposons. Enjoy this cute quirky picture of team Farfalloni.</p>
    <img src="static/team.jpg" alt="Farfalloni group picture" class="group-pic">
    <h3 style="font-size: 1.5em;">Contact us</h3>
    <p> Feel free to reach out to us on any of these platforms and check out our GitHub repository:</p>
     <ul class="contact-info">
          <li class="phone"><a href="tel:0208-745-1634">0208-745-1634</a></li>
          <li class="mail"><a href="mailto:farfalloni@hotmail.co.uk">farfalloni@hotmail.co.uk</a></li>
          <li class="github"><a href="https://github.com/eagomezc/Farfalloni">https://github.com/eagomezc/Farfalloni</a></li>
        </ul>

    </div>

    <div id="secondary">
    <h3 style="margin-top:0;font-size: 1.5em;"> Website information </h3>
    <p> This website is useful for the exploration of retrotransposons and their properties. Navigate your way through this website to learn about the different properties each retrotransposon has, including interactive graphs as a visual aid. Have a file of peptide identification that you're curious about? Click on the tools page to find out if they contain any retrotransposons! The database was generated using information from the UCSC Table Browser and tabulated using sqlite3 (both linked below). </p>
    <p style="margin: 0.2em;font-size: 1.5em;"> Glossary </p>
    <p> <b>Retrotransposon: </b> a transposon whose sequence shows homology with that of a retrovirus. </p>
    <p> <b>Open reading frame (ORF): </b> a continuous stretch of codons that contain a start codon (usually AUG) and a stop codon (usually UAA, UAG or UGA). </p>
    <p> <b>Line-1: </b>  are transposable elements in the DNA of some organisms and belong to the group of Long interspersed nuclear elements (LINEs). </p>
    <p> <b>HERV: </b> Endogenous retroviruses are the most important LTR retrotransposons in mammals, including humans where the Human ERVs make up 8% of the genome. </p>
    <p> <b>Farfalloni: </b> Pasta in the shape of a large butterfly or bowtie. </p>
    <p style="margin: 0.2em;font-size: 1.5em;"> What's next for RETROtransposons? </p>
    <p>This website is currently a prototype however we will be adding more useful features and tools in the future; any suggestions are welcome. </p>
    <p style="margin: 0.2em;font-size: 1.5em;"> Useful links</p>
    <li><a href="https://github.com/HUPO-PSI"> Example mzTab/mzID files</a></li>
    <li><a href="https://plot.ly/">Plotly for interactive graphs</a></li>
    <li><a href="https://genome.ucsc.edu/">UCSC for raw data</a></li>  
    <p style='font-size:22px;'> </p>
    </section>
    </div>
    
        <footer>
        <a href="https://github.com/eagomezc/Farfalloni"><img src="static/github_icon.png" alt="Github logo" class="social-icon"></a>
        <p>Farfalloni 2018 &copy;</p>
      </footer>
    
  </body>
</html>
