<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Farfalloni|Retrotransposons</title>
    <link rel="stylesheet" href="static/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Open+Sans+Condensed:300i|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
<style>
#tooltip {
    position:relative;
    display: inline-block;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #422a56;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>

  <body>
    <header>
      <a href="index.html" id="group-name">
        <h1>RETROtransposons</h1>
        <h2>for everything retrotransposon-y</h2>
      </a> 
      <nav>
        <ul>
        <li id='tooltip'><a href="index.html" class="selected">Home</a><span class='tooltiptext'>Retrotransposons homepage with links to LINE1 and HERV databases </span></li></li>
          <li id='tooltip'><a href="database.html">Database</a><span class='tooltiptext'>Contains database table of retrotransposon properties, explanations and graphics</span></li>
          <li id='tooltip'><a href="search.html">Search</a><span class='tooltiptext'>Search specifically for your desired retrotransposon by chromosome, strand, amino acid sequence, etc </span></li>
          <li id='tooltip'><a href="tools.html">Tools</a><span class='tooltiptext'>Upload mzID/TAB files of peptide identification to find any matches in this database</span></li>
          <li id='tooltip'><a href="help.html">About</a><span class='tooltiptext'>Website information and contact details</span></li>
        </ul>
      </nav>
    </header>


    <div id="intro" style="margin-bottom: -90px; margin-top: 50px;">
    <h3 style="text-align: center;"> This website is useful for the exploration of retrotransposons and their properties</h3>
    <p style="text-align: center;"> Navigate your way through this website to learn about the different properties each retrotransposon has, including interactive graphs as a visual aid.</p>
    <p style="text-align: center;"> Have a file of peptide identification that you're curious about? Click on the tools page to find out if they contain any retrotransposons!</p>
    </div>
  
    <div id="family">
      <h3 style="text-align:center;">Retrotransposon Families:</h3>
      <a href="database.html#line">       
        <h3  style="text-align:center;">LINE-1</h3> </a>
      <a href="database.html#herv">       
        <h3  style="text-align:center;">HERV</h3> </a>
    </div>
    
      <footer>
        <a href="https://github.com/eagomezc/Farfalloni"><img src="static/github_icon.png" alt="Github logo" class="social-icon"></a>
        <p>Farfalloni 2018 &copy;</p>
      </footer>
    
  </body>
</html>
