<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Farfalloni|Retrotransposons</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Open+Sans+Condensed:300i|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <a href="index.html" id="group-name">
        <h1>RETROtransposons</h1>
        <h2>for everything transposon-y</h2>
      </a> 
      <nav>
        <ul>
          <li><a href="index.html" class="selected">Home</a></li>
          <li><a href="database.html">Database</a></li>
          <li><a href="search.html">Search</a></li>
          <li><a href="tools.html">Tools</a></li>
          <li><a href="help.html">Help</a></li>
        </ul>
      </nav>
    </header>
    
    <div id="family">
      <h3>Retrotransposon Families:</h3>
      <a href="database.html">       
        <h3>LINE-1</h3>
        <h3>HERV</h3>
      </a>
    </div>
    
      <footer>
        <a href="https://github.com/eagomezc/Farfalloni"><img src="img/github_icon.png" alt="Github logo" class="social-icon"></a>
        <p>Farfalloni 2018 &copy;</p>
      </footer>
    
  </body>
</html>
