<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Farfalloni|Retrotransposons</title>
    <link rel="stylesheet" href="static/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Open+Sans+Condensed:300i|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<style>
 .res {
 padding-left: 10px;
}
</style>
  <body>
    <header>
      <a href="index.html" id="group-name">
        <h1>RETROtransposons</h1>
        <h2>for everything retrotransposon-y</h2>
      </a> 
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="database.html">Database</a></li>
          <li><a href="search.html">Search</a></li>
          <li><a href="tools.html">Tools</a></li>
          <li><a href="help.html">Help</a></li>
        </ul>
      </nav>
    </header>

<section class="res">
{% if amino|length != 0 %}
  <h3 style="font-size: 2em;"> Results found: </h3>
 {% for l in range(0,amino|length) %}
  <h3> Sequence {{amino[l]}} in Tissue {{tissue}} </h3>
  {% if fills[l]!="" %}
  <h3> There is a match in the ATLAS </h3>
  <section style="margin-left:60px; margin-right:60px;">
  <table id="tableind">
  <thead>
  <tr>
    <th>Amino Sequence</th>
    <th>Tissue</th> 
  </tr>
  </thead>
  <tr>
    <td><a href="amino.html-{{fills[l]["Amino"]}}">{{fills[l]["Amino"]}}</a></td>
    <td>{{tissue}}</td>    
  </tr>
 </table> 
 </section>
 {% else %}
    <script>
      $(document).ready(function(){
      $('#datas{{l}}').DataTable();
      });
    </script>
 <h3> There is at least a match in the RETROTRASPOSON DATABASE </h3>
  <section style="margin-left:60px; margin-right:60px;">
  <table id="datas{{l}}">
  <thead>
  <tr>
    <th>Repetition Name</th>
    <th>Chromosome</th> 
    <th>Strand</th>
    <th>Chromosome Location</th>
    <th>Retrotransposon Family</th>
  </tr>
  </thead>

 {% for ree in ress[l] %}
  <tr>
    <td><a href="individual.html-{{ree["repName"]}}-{{ree["genoStart"]}}">{{ree["repName"]}}</a></td>
    <td>{{ree["genoName"]}}</td>
    <td>{{ree["strand"]}}</td>
    <td>{{ree["genoStart"]}}</td>
    <td>{{ree["repFamily"]}}</td>    
  </tr>
 {% endfor %} 
  </table>
</section>
 {% endif %}
 {% endfor %}
{% else %}
 <h3>Matches not found</h3>
 {% endif %} 
    </section>

      <footer>
        <a href="https://github.com/eagomezc/Farfalloni"><img src="static/github_icon.png" alt="Github logo" class="social-icon"></a>
        <p>Farfalloni 2018 &copy;</p>
      </footer>
    
  </body>
</html>
