<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Farfalloni|Retrotransposons</title>
    <link rel="stylesheet" href="static/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Open+Sans+Condensed:300i|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <a href="index.html" id="group-name">
        <h1>RETROtransposons</h1>
        <h2>for everything retrotransposon-y</h2>
      </a> 
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="database.html">Database</a></li>
          <li><a href="search.html" class="selected">Search</a></li>
          <li><a href="tools.html">Tools</a></li>
<!--          <li><a href="results.html">Results</a></li>-->
          <li><a href="help.html">Help</a></li>
        </ul>
      </nav>
    </header>
    
    <h3 class="search-form">Search for a specific retrotransposon:</h3>
    
    <label class="pep-seq">Retrotransposon name:</label>
      <form action="/results.html">
      <input type="text" name="search">
      <input type="submit">
      </form>   
    
    <label class="pep-seq">Retrotransposon family:</label>
        <form action="/results.html">
        <input type="text" name="search">
        <input type="submit">
        </form>  
      
    <label class="pep-seq">Peptide sequence:</label>
      <form action="/results.html">
      <input type="text" name="search">
      <input type="submit">
      </form>
    
    <label class="pep-seq">Amino acid sequence:</label>
      <form action="/results.html">
      <input type="text" name="search">
      <input type="submit">
      </form>
      
      <footer>
        <a href="https://github.com/eagomezc/Farfalloni"><img src="static/github_icon.png" alt="Github logo" class="social-icon"></a>
        <p>Farfalloni 2018 &copy;</p>
      </footer>
    
  </body>
</html>
