<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Farfalloni|Retrotransposons</title>
    <link rel="stylesheet" href="static/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Open+Sans+Condensed:300i|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <a href="index.html" id="group-name">
        <h1>RETROtransposons</h1>
        <h2>for everything retrotransposon-y</h2>
      </a> 
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="database.html">Database</a></li>
          <li><a href="search.html" class="selected">Search</a></li>
          <li><a href="tools.html">Tools</a></li>
          <li><a href="help.html">Help</a></li>
        </ul>
      </nav>
    </header>
    
    <h3 class="search-form">Search for a specific retrotransposon:</h3>


<form action="{{url_for('results')}}"  method='get'>
 <label class="pep-seq">Retrotransposon name:</label>
      <input type="text" name="repName">
 <br></br>
 <label class="pep-seq">Chromosome:</label>
      <input type="text" name="genoName">
 <br></br>
 <label class="pep-seq">Retrotransposon Family:</label>
      <input type="text" name="repFamily">
 <br></br>
 <label class="pep-seq">Strand:</label>
      <input type="text" name="strand">
 <br></br>
 <label class="pep-seq">Amino Acid Sequence:</label>
      <input type="text" name="amino">
 <br></br>
<input type='submit' value='Submit'>
</form>

    <h3 class="search-form">Show only the retrotransposon that contains:</h3>

<form action="{{url_for('resultsa')}}"  method='get'>
  <input type="checkbox" name="ORF1" value="M" checked> ORF1 (LINE) or Gag (ERV)<br>
  <input type="checkbox" name="ORF2" value="M" checked> ORF2 (LINE) or Pol (ERV)<br>
  <input type="checkbox" name="ORF0" value="M" checked> ORF0 (LINE) or Env (ERV)<br>
  <input type="submit" value="Submit">
</form>
    
      <footer>
        <a href="https://github.com/eagomezc/Farfalloni"><img src="static/github_icon.png" alt="Github logo" class="social-icon"></a>
        <p>Farfalloni 2018 &copy;</p>
      </footer>
    
  </body>
</html>
