<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Farfalloni|Retrotransposons</title>
    <link rel="stylesheet" href="static/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Open+Sans+Condensed:300i|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
   <link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script>
      $(document).ready(function(){
      $('#resultsb').DataTable();
      });
    </script>
  </head>

<style>
.inv {
    display: none;
}

.dropmenu {
 padding-left: 65px;
 padding-right: 30px;
}
</style>

  <body>
    <header>
      <a href="index.html" id="group-name">
        <h1>RETROtransposons</h1>
        <h2>for everything retrotransposon-y</h2>
      </a> 
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="database.html">Database</a></li>
          <li><a href="search.html">Search</a></li>
          <li><a href="tools.html" class="selected">Tools</a></li>
          <li><a href="help.html">About</a></li>
        </ul>
      </nav>
    </header>


<h3 style='font-size: 1.5em; padding-left: 10px;'> MSRetroFinder </h3>
<p style='font-size:1em; padding-left:10px; text-align: justify;'> Have a file of peptide identification that you are curious about? Upload it here to find out if it contains any retrotranspons in our database and build your own atlas of findings for future reference.</p>
    <h3 style="font-size: 1em; padding-left: 10px; padding-bottom:0;" class="search-form">Choose file format:</h3>
<div class="dropmenu">
    <select id="target" style="width:1100px;">
    <option value="">Select...</option>
    <option value="mzl">mzldentML</option>
    <option value="mzt">mzTab</option>
    </select> 
   <p> </p>   
  <div id="mzl" class="inv">
  <form action="/resultsb.html" method="get">
    <input type="file" name="mzidentml" accept="file_extension|mzid/*">
    <label class="pep-seq">Please type the source (tissue) of the sample (Obligatory field):</label>
      <input type="text" name="tissue">
   <input type='submit' value='Submit' class="1stsearch">
  </form>
  </div>
  
  <div id="mzt" class="inv">
  <form action="/resultsb.html" method="get">
    <input type="file" name="mzTab" accept="file_extension|mzTab/*">
    <label class="pep-seq">Please type the source (tissue) of the sample (Obligatory field):</label>
      <input type="text" name="tissue">
   <input type='submit' value='Submit' class="1stsearch">
  </form>
  </div>
</div>
  <script>
            document
                .getElementById('target')
                .addEventListener('change', function () {
                    'use strict';
                    var vis = document.querySelector('.vis'),   
                        target = document.getElementById(this.value);
                    if (vis !== null) {
                        vis.className = 'inv';
                    }
                    if (target !== null ) {
                        target.className = 'vis';
                    }
            });
  </script>

<p style='font-size:1.5em;'></p>
<h3 style="padding-left:10px;">ATLAS</h3>

 <section style="margin-left:60px; margin-right:60px;">
  <table id="resultsb">
  <thead>
  <tr>
    <th>Amino Sequence</th>
    <th>Tissue</th> 
  </tr>
  </thead>

 {% for re in rows %}
  <tr>
    <td><a href="amino.html-{{re["Amino"]}}">{{re["Amino"]}}<a></td>
    <td>{{re["Tissue"]}}</td>    
  </tr>
 {% endfor %}
 </table> 
</section>

      <footer>
        <a href="https://github.com/eagomezc/Farfalloni"><img src="static/github_icon.png" alt="Github logo" class="social-icon"></a>
        <p>Farfalloni 2018 &copy;</p>
      </footer>
   
  </body>
</html>
