<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Farfalloni|Retrotransposons</title>
    <link rel="stylesheet" href="static/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Open+Sans+Condensed:300i|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
   <link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script>
      $(document).ready(function(){
      $('#resultsb').DataTable();
      });
    </script>
  </head>

<style>
.inv {
    display: none;
}

.dropmenu {
 padding-left: 65px;
 padding-right: 30px;
}

#tooltip {
    position:relative;
    display: inline-block;
}
#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #423a56;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
#tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>

  <body>
    <header>
      <a href="index.html" id="group-name">
        <h1>RETROtransposons</h1>
        <h2>for everything retrotransposon-y</h2>
      </a> 
      <nav>
        <ul>
        <li id='tooltip'><a href="index.html">Home</a><span class='tooltiptext'>Retrotransposons homepage with links to LINE1 and HERV databases </span></li></li>
          <li id='tooltip'><a href="database.html">Database</a><span class='tooltiptext'>Contains database table of retrotransposon properties, explanations and graphics</span></li>
          <li id='tooltip'><a href="search.html">Search</a><span class='tooltiptext'>Search specifically for your desired retrotransposon by chromosome, strand, amino acid sequence, etc </span></li>
          <li id='tooltip'><a href="tools.html" class="selected">Tools</a><span class='tooltiptext'>Upload mzID/TAB files of peptide identification to find any matches in this database</span></li>
          <li id='tooltip'><a href="help.html">About</a><span class='tooltiptext'>Website information and contact details</span></li>
        </ul>
      </nav>
    </header>


<h3 style='font-size: 1.5em; padding-left: 10px;'> MSRetroFinder </h3>
<p style='font-size:1em; padding-left:10px; text-align: justify;'> Have a file of peptide identification that you are curious about? Upload it here to find out if it contains any retrotranspons in our database and build your own atlas of findings for future reference.</p>
<p style='font-size:1em; padding-left:10px; text-align: justify;'> <b> IMPORTANT NOTE: The file that you want to upload has to be in the same directory of the main application (app.py). The source of the sample (Tissue) is MANDATORY. </b></p>
    <h3 style="font-size: 1em; padding-left: 10px; padding-bottom:0;" class="search-form">Choose file format:</h3>
<div class="dropmenu">
    <select id="target" style="width:1100px;">
    <option value="">Select...</option>
    <option value="mzl">mzldentML</option>
    <option value="mzt">mzTab</option>
    </select> 
   <p> </p>   
  <div id="mzl" class="inv">
  <form action="/resultsb.html" method="get">
    <input type="file" name="mzidentml" accept="file_extension|mzid/*">
    <label class="pep-seq">Type source of the sample. Keep it simple as heart, skin, etc:</label>
      <input type="text" name="tissue">
   <input type='submit' value='Submit' class="1stsearch">
  </form>
  </div>
  
  <div id="mzt" class="inv">
  <form action="/resultsb.html" method="get">
    <input type="file" name="mzTab" accept="file_extension|mzTab/*">
    <label class="pep-seq">Type source of the sample. Keep it simple as heart, skin, etc:</label>
      <input type="text" name="tissue">
   <input type='submit' value='Submit' class="1stsearch">
  </form>
  </div>
</div>
  <script>
            document
                .getElementById('target')
                .addEventListener('change', function () {
                    'use strict';
                    var vis = document.querySelector('.vis'),   
                        target = document.getElementById(this.value);
                    if (vis !== null) {
                        vis.className = 'inv';
                    }
                    if (target !== null ) {
                        target.className = 'vis';
                    }
            });
  </script>

<p style='font-size:1.5em;'></p>
<h3 style="padding-left:10px;">MSRetro Finder ATLAS</h3>
<p style='font-size:1em; padding-left:10px; text-align: justify;'> Previous peptide identifications from MS files can be seen in the next table. If you want to check if a peptide sequence has been found in the past, make sure that keep the Tissue (source of the sample) name in a simple format. If you want to see which retrotransposon contains a particular peptide, click in the amino acid sequence. </p>

 <section style="margin-left:60px; margin-right:60px;">
  <table id="resultsb">
  <thead>
  <tr>
    <th>Amino Sequence</th>
    <th>Tissue</th> 
  </tr>
  </thead>

 {% for re in rows %}
  <tr>
    <td><a href="amino.html-{{re["Amino"]}}">{{re["Amino"]}}<a></td>
    <td>{{re["Tissue"]}}</td>    
  </tr>
 {% endfor %}
 </table> 
</section>

      <footer>
        <a href="https://github.com/eagomezc/Farfalloni"><img src="static/github_icon.png" alt="Github logo" class="social-icon"></a>
        <p>Farfalloni 2018 &copy;</p>
      </footer>
   
  </body>
</html>
